<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="APIComponents" Directory="APIINSTALLFOLDER">
      <Component Id="API_appsettings_Development_json_1" Guid="321377ED-81A8-4946-93A7-DE3DC7A730BD">
        <File Id="API_File_1" Source="$(var.APIPublishDir)appsettings.Development.json" />
      </Component>
      <Component Id="API_appsettings_json_2" Guid="BB73B42B-2BFA-4410-8B7F-607BDA65AE74">
        <File Id="API_File_2" Source="$(var.APIPublishDir)appsettings.json" />
      </Component>
      <Component Id="API_Azure_Core_dll_3" Guid="ED12A6F2-367D-4E2B-BF8B-6E5ABF930E50">
        <File Id="API_File_3" Source="$(var.APIPublishDir)Azure.Core.dll" />
      </Component>
      <Component Id="API_Azure_Identity_dll_4" Guid="10F40BC1-EEE6-4C0B-96A6-4C7B7C1861C8">
        <File Id="API_File_4" Source="$(var.APIPublishDir)Azure.Identity.dll" />
      </Component>
      <Component Id="API_Azure_Security_KeyVault_Certificates_dll_5" Guid="85C32C5A-FF17-4F15-BAD6-4103D1014EF3">
        <File Id="API_File_5" Source="$(var.APIPublishDir)Azure.Security.KeyVault.Certificates.dll" />
      </Component>
      <Component Id="API_Azure_Security_KeyVault_Secrets_dll_6" Guid="3CCD9A8F-2D5B-4E03-8573-2026A3597D9F">
        <File Id="API_File_6" Source="$(var.APIPublishDir)Azure.Security.KeyVault.Secrets.dll" />
      </Component>
      <Component Id="API_FluentValidation_AspNetCore_dll_7" Guid="8F40553D-40EC-415B-871B-C938B473CC76">
        <File Id="API_File_7" Source="$(var.APIPublishDir)FluentValidation.AspNetCore.dll" />
      </Component>
      <Component Id="API_FluentValidation_DependencyInjectionExtensions_dll_8" Guid="243AFC47-C86D-4EDA-8D3B-271D40E05FD6">
        <File Id="API_File_8" Source="$(var.APIPublishDir)FluentValidation.DependencyInjectionExtensions.dll" />
      </Component>
      <Component Id="API_FluentValidation_dll_9" Guid="6E4F6C85-D82C-48EF-BB85-63D595BE9AEF">
        <File Id="API_File_9" Source="$(var.APIPublishDir)FluentValidation.dll" />
      </Component>
      <Component Id="API_KSeFPrinter_API_deps_json_10" Guid="36672C95-66D4-4E7E-A197-5E8B69CD269F">
        <File Id="API_File_10" Source="$(var.APIPublishDir)KSeFPrinter.API.deps.json" />
      </Component>
      <Component Id="API_KSeFPrinter_API_dll_11" Guid="1E014E7B-B4DB-45ED-A9E6-0FD8F44225AD">
        <File Id="API_File_11" Source="$(var.APIPublishDir)KSeFPrinter.API.dll" />
      </Component>
      <Component Id="API_KSeFPrinter_API_pdb_12" Guid="6C66C147-1368-4A8A-BB77-ECFD4062EF76">
        <File Id="API_File_12" Source="$(var.APIPublishDir)KSeFPrinter.API.pdb" />
      </Component>
      <Component Id="API_KSeFPrinter_API_runtimeconfig_json_13" Guid="2D1D96B5-BDE0-4549-9580-5B1CF694FAD0">
        <File Id="API_File_13" Source="$(var.APIPublishDir)KSeFPrinter.API.runtimeconfig.json" />
      </Component>
      <Component Id="API_KSeFPrinter_API_staticwebassets_endpoints_json_14" Guid="9C925AA1-78A9-4343-91C2-06FF14CC48F4">
        <File Id="API_File_14" Source="$(var.APIPublishDir)KSeFPrinter.API.staticwebassets.endpoints.json" />
      </Component>
      <Component Id="API_KSeFPrinter_API_xml_15" Guid="7201B9DC-B61C-47FC-B598-E8DB0BA5C9EE">
        <File Id="API_File_15" Source="$(var.APIPublishDir)KSeFPrinter.API.xml" />
      </Component>
      <Component Id="API_KSeFPrinter_dll_16" Guid="E8606FAA-2117-4939-AE3B-D1895276CF02">
        <File Id="API_File_16" Source="$(var.APIPublishDir)KSeFPrinter.dll" />
      </Component>
      <Component Id="API_KSeFPrinter_pdb_17" Guid="46DBFD75-8184-43E1-9035-FD97D9AC43D1">
        <File Id="API_File_17" Source="$(var.APIPublishDir)KSeFPrinter.pdb" />
      </Component>
      <Component Id="API_KSeFPrinter_xml_18" Guid="03D00208-E611-48C9-8034-01B910B3BA60">
        <File Id="API_File_18" Source="$(var.APIPublishDir)KSeFPrinter.xml" />
      </Component>
      <Component Id="API_libgcc_s_seh_1_dll_19" Guid="B2ADDF78-5733-4130-B87C-B298118BFAC7">
        <File Id="API_File_19" Source="$(var.APIPublishDir)libgcc_s_seh-1.dll" />
      </Component>
      <Component Id="API_libstdc___6_dll_20" Guid="8F4D45B8-5306-4715-8E6A-F4C63D69CCD4">
        <File Id="API_File_20" Source="$(var.APIPublishDir)libstdc++-6.dll" />
      </Component>
      <Component Id="API_libwinpthread_1_dll_21" Guid="40C6023A-AC08-4DE6-A3F8-D494FD5D2530">
        <File Id="API_File_21" Source="$(var.APIPublishDir)libwinpthread-1.dll" />
      </Component>
      <Component Id="API_Microsoft_AspNetCore_OpenApi_dll_22" Guid="2548C896-08B6-41E9-8FB4-AB3603C3F4CF">
        <File Id="API_File_22" Source="$(var.APIPublishDir)Microsoft.AspNetCore.OpenApi.dll" />
      </Component>
      <Component Id="API_Microsoft_Bcl_AsyncInterfaces_dll_23" Guid="CBB4502A-4CDD-4164-B6E8-D83C349C5AAE">
        <File Id="API_File_23" Source="$(var.APIPublishDir)Microsoft.Bcl.AsyncInterfaces.dll" />
      </Component>
      <Component Id="API_Microsoft_Extensions_DependencyInjection_Abstractions_dll_24" Guid="63799109-6078-4E12-B069-875C7413D832">
        <File Id="API_File_24" Source="$(var.APIPublishDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
      </Component>
      <Component Id="API_Microsoft_Extensions_DependencyModel_dll_25" Guid="6058E156-AC25-4969-B0DC-AAB531331E24">
        <File Id="API_File_25" Source="$(var.APIPublishDir)Microsoft.Extensions.DependencyModel.dll" />
      </Component>
      <Component Id="API_Microsoft_Extensions_Hosting_WindowsServices_dll_26" Guid="A8D5C686-87E4-481B-8F71-53D15EBD276C">
        <File Id="API_File_26" Source="$(var.APIPublishDir)Microsoft.Extensions.Hosting.WindowsServices.dll" />
      </Component>
      <Component Id="API_Microsoft_Extensions_Logging_Abstractions_dll_27" Guid="E067E961-15D7-496C-8D49-5CFD9BB005E6">
        <File Id="API_File_27" Source="$(var.APIPublishDir)Microsoft.Extensions.Logging.Abstractions.dll" />
      </Component>
      <Component Id="API_Microsoft_Identity_Client_dll_28" Guid="82AFD24C-A5FD-4DD6-A3F1-BB3EAF5E1F8E">
        <File Id="API_File_28" Source="$(var.APIPublishDir)Microsoft.Identity.Client.dll" />
      </Component>
      <Component Id="API_Microsoft_Identity_Client_Extensions_Msal_dll_29" Guid="DDB8BEB3-DE5F-4DB7-B5B2-8E5ED06CEDFF">
        <File Id="API_File_29" Source="$(var.APIPublishDir)Microsoft.Identity.Client.Extensions.Msal.dll" />
      </Component>
      <Component Id="API_Microsoft_IdentityModel_Abstractions_dll_30" Guid="4780BD97-4A7B-4104-AD9C-934EB8A188C1">
        <File Id="API_File_30" Source="$(var.APIPublishDir)Microsoft.IdentityModel.Abstractions.dll" />
      </Component>
      <Component Id="API_Microsoft_OpenApi_dll_31" Guid="21B6224A-B369-4E27-93A8-F6E87ECC1954">
        <File Id="API_File_31" Source="$(var.APIPublishDir)Microsoft.OpenApi.dll" />
      </Component>
      <Component Id="API_Microsoft_Win32_SystemEvents_dll_32" Guid="1EB27EA0-401F-4497-A5F2-98F08D35D545">
        <File Id="API_File_32" Source="$(var.APIPublishDir)Microsoft.Win32.SystemEvents.dll" />
      </Component>
      <Component Id="API_qpdf_dll_33" Guid="59E1DEE9-55DC-4DD5-A7EA-8C6794C3425F">
        <File Id="API_File_33" Source="$(var.APIPublishDir)qpdf.dll" />
      </Component>
      <Component Id="API_QRCoder_dll_34" Guid="8A7D32F2-7BF0-4C48-9136-F39818BE9AE8">
        <File Id="API_File_34" Source="$(var.APIPublishDir)QRCoder.dll" />
      </Component>
      <Component Id="API_QuestPDF_dll_35" Guid="CF434804-3AB6-4A9B-AA88-8F158C6C4EF2">
        <File Id="API_File_35" Source="$(var.APIPublishDir)QuestPDF.dll" />
      </Component>
      <Component Id="API_QuestPdfSkia_dll_36" Guid="764D9605-7BD0-4E6A-879E-4E988850929B">
        <File Id="API_File_36" Source="$(var.APIPublishDir)QuestPdfSkia.dll" />
      </Component>
      <Component Id="API_Serilog_AspNetCore_dll_37" Guid="3DBBD279-2177-432B-AA0D-7F924EC2128D">
        <File Id="API_File_37" Source="$(var.APIPublishDir)Serilog.AspNetCore.dll" />
      </Component>
      <Component Id="API_Serilog_dll_38" Guid="049FE74F-0F92-48D8-9AAD-9175EFD65C7C">
        <File Id="API_File_38" Source="$(var.APIPublishDir)Serilog.dll" />
      </Component>
      <Component Id="API_Serilog_Enrichers_Environment_dll_39" Guid="4D2ADA91-4EEC-446B-8F6B-7B1A2EE6DAA4">
        <File Id="API_File_39" Source="$(var.APIPublishDir)Serilog.Enrichers.Environment.dll" />
      </Component>
      <Component Id="API_Serilog_Enrichers_Thread_dll_40" Guid="596AB17C-D02D-4B45-A620-CF89D32C2B39">
        <File Id="API_File_40" Source="$(var.APIPublishDir)Serilog.Enrichers.Thread.dll" />
      </Component>
      <Component Id="API_Serilog_Extensions_Hosting_dll_41" Guid="D9373A26-37B4-4B3C-9E4A-04E5F5CA6C77">
        <File Id="API_File_41" Source="$(var.APIPublishDir)Serilog.Extensions.Hosting.dll" />
      </Component>
      <Component Id="API_Serilog_Extensions_Logging_dll_42" Guid="82B44388-BD62-4417-9F3B-D22C436A134E">
        <File Id="API_File_42" Source="$(var.APIPublishDir)Serilog.Extensions.Logging.dll" />
      </Component>
      <Component Id="API_Serilog_Formatting_Compact_dll_43" Guid="67845B17-A0DF-4939-8AE8-D8C5DB6301F8">
        <File Id="API_File_43" Source="$(var.APIPublishDir)Serilog.Formatting.Compact.dll" />
      </Component>
      <Component Id="API_Serilog_Settings_Configuration_dll_44" Guid="0D11E9A4-470B-47B0-81C1-273A9E47A3C9">
        <File Id="API_File_44" Source="$(var.APIPublishDir)Serilog.Settings.Configuration.dll" />
      </Component>
      <Component Id="API_Serilog_Sinks_Console_dll_45" Guid="7B19C4C1-DB60-4A8C-B8AD-89D97D20DC27">
        <File Id="API_File_45" Source="$(var.APIPublishDir)Serilog.Sinks.Console.dll" />
      </Component>
      <Component Id="API_Serilog_Sinks_Debug_dll_46" Guid="06E5B00F-DACE-43C0-A884-B2AA5BEE0DB9">
        <File Id="API_File_46" Source="$(var.APIPublishDir)Serilog.Sinks.Debug.dll" />
      </Component>
      <Component Id="API_Serilog_Sinks_EventLog_dll_47" Guid="F1ADA0FB-3D76-4B48-9FB3-9E980CE17D1D">
        <File Id="API_File_47" Source="$(var.APIPublishDir)Serilog.Sinks.EventLog.dll" />
      </Component>
      <Component Id="API_Serilog_Sinks_File_dll_48" Guid="091D860D-39CF-439C-B260-1F72AD5F83E4">
        <File Id="API_File_48" Source="$(var.APIPublishDir)Serilog.Sinks.File.dll" />
      </Component>
      <Component Id="API_Swashbuckle_AspNetCore_Swagger_dll_49" Guid="AD349D8A-3F73-426C-86F4-38897B8DC6B4">
        <File Id="API_File_49" Source="$(var.APIPublishDir)Swashbuckle.AspNetCore.Swagger.dll" />
      </Component>
      <Component Id="API_Swashbuckle_AspNetCore_SwaggerGen_dll_50" Guid="8B30BFBB-C05C-49E5-8AE7-6A5E31CE36E9">
        <File Id="API_File_50" Source="$(var.APIPublishDir)Swashbuckle.AspNetCore.SwaggerGen.dll" />
      </Component>
      <Component Id="API_Swashbuckle_AspNetCore_SwaggerUI_dll_51" Guid="8387F3DE-9BDF-44AA-96C0-FAC6544EA679">
        <File Id="API_File_51" Source="$(var.APIPublishDir)Swashbuckle.AspNetCore.SwaggerUI.dll" />
      </Component>
      <Component Id="API_System_ClientModel_dll_52" Guid="693150AF-AF1B-4979-93F4-1B09636C0AF9">
        <File Id="API_File_52" Source="$(var.APIPublishDir)System.ClientModel.dll" />
      </Component>
      <Component Id="API_System_Drawing_Common_dll_53" Guid="9B277700-6069-48D3-9F3B-3A1E8E80D264">
        <File Id="API_File_53" Source="$(var.APIPublishDir)System.Drawing.Common.dll" />
      </Component>
      <Component Id="API_System_Memory_Data_dll_54" Guid="CC9864E4-EB28-4406-BE16-744646B3DB51">
        <File Id="API_File_54" Source="$(var.APIPublishDir)System.Memory.Data.dll" />
      </Component>
      <Component Id="API_System_Security_Cryptography_ProtectedData_dll_55" Guid="40E99907-13DA-4221-9271-CE7F61F1A2F6">
        <File Id="API_File_55" Source="$(var.APIPublishDir)System.Security.Cryptography.ProtectedData.dll" />
      </Component>
      <Component Id="API_System_ServiceProcess_ServiceController_dll_56" Guid="32588781-84BA-4089-8014-DD2D5EB855E0">
        <File Id="API_File_56" Source="$(var.APIPublishDir)System.ServiceProcess.ServiceController.dll" />
      </Component>
      <Component Id="API_web_config_57" Guid="A3C80687-6DBE-4C53-BB81-6363C414BCB8">
        <File Id="API_File_57" Source="$(var.APIPublishDir)web.config" />
      </Component>
      <Component Id="API_zlib1_dll_58" Guid="4694F3D6-EFEC-4284-B3E2-664731D70DDB">
        <File Id="API_File_58" Source="$(var.APIPublishDir)zlib1.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
