<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="CLIComponents" Directory="CLIINSTALLFOLDER">
      <Component Id="CLI_Azure_Core_dll_1" Guid="1F6E1097-854E-4245-BCF7-AA14C78F6BA6">
        <File Id="CLI_File_1" Source="$(var.CLIPublishDir)Azure.Core.dll" />
      </Component>
      <Component Id="CLI_Azure_Identity_dll_2" Guid="F4672AB0-F172-4122-A8FB-A13E5C2177F9">
        <File Id="CLI_File_2" Source="$(var.CLIPublishDir)Azure.Identity.dll" />
      </Component>
      <Component Id="CLI_Azure_Security_KeyVault_Certificates_dll_3" Guid="E2673BDD-0667-45E4-8F8A-E31A5841B854">
        <File Id="CLI_File_3" Source="$(var.CLIPublishDir)Azure.Security.KeyVault.Certificates.dll" />
      </Component>
      <Component Id="CLI_Azure_Security_KeyVault_Secrets_dll_4" Guid="4723FB7A-BC7D-44C2-B742-35697D8FCE85">
        <File Id="CLI_File_4" Source="$(var.CLIPublishDir)Azure.Security.KeyVault.Secrets.dll" />
      </Component>
      <Component Id="CLI_ksef_pdf_deps_json_5" Guid="BFD3078C-2E03-405C-8F49-1AA7D56C011F">
        <File Id="CLI_File_5" Source="$(var.CLIPublishDir)ksef-pdf.deps.json" />
      </Component>
      <Component Id="CLI_ksef_pdf_dll_6" Guid="5E8130A4-3A87-4D11-9CFA-E4B6BCCDC4C1">
        <File Id="CLI_File_6" Source="$(var.CLIPublishDir)ksef-pdf.dll" />
      </Component>
      <Component Id="CLI_ksef_pdf_exe_7" Guid="1FBD5C17-5B05-47AF-A1C8-07A089EEB8D7">
        <File Id="CLI_File_7" Source="$(var.CLIPublishDir)ksef-pdf.exe" />
      </Component>
      <Component Id="CLI_ksef_pdf_pdb_8" Guid="07332C3C-FB0A-4423-8BD0-07B6311F1659">
        <File Id="CLI_File_8" Source="$(var.CLIPublishDir)ksef-pdf.pdb" />
      </Component>
      <Component Id="CLI_ksef_pdf_runtimeconfig_json_9" Guid="C8776863-81AC-42DC-B5B5-C580A62C57B5">
        <File Id="CLI_File_9" Source="$(var.CLIPublishDir)ksef-pdf.runtimeconfig.json" />
      </Component>
      <Component Id="CLI_ksef_pdf_xml_10" Guid="81ABDE8B-221C-456A-8A2E-E997EE352020">
        <File Id="CLI_File_10" Source="$(var.CLIPublishDir)ksef-pdf.xml" />
      </Component>
      <Component Id="CLI_KSeFPrinter_dll_11" Guid="5C40027C-B150-438D-9899-92E0CDA5197E">
        <File Id="CLI_File_11" Source="$(var.CLIPublishDir)KSeFPrinter.dll" />
      </Component>
      <Component Id="CLI_KSeFPrinter_pdb_12" Guid="C5E91584-5736-4F48-99C0-088281FC5E45">
        <File Id="CLI_File_12" Source="$(var.CLIPublishDir)KSeFPrinter.pdb" />
      </Component>
      <Component Id="CLI_KSeFPrinter_xml_13" Guid="39985033-1562-4526-A3C8-C12240F86EC7">
        <File Id="CLI_File_13" Source="$(var.CLIPublishDir)KSeFPrinter.xml" />
      </Component>
      <Component Id="CLI_libgcc_s_seh_1_dll_14" Guid="BB478050-BD95-4ACE-980F-99C9DD335004">
        <File Id="CLI_File_14" Source="$(var.CLIPublishDir)libgcc_s_seh-1.dll" />
      </Component>
      <Component Id="CLI_libstdc___6_dll_15" Guid="4F49CE36-7BDB-4FB0-85DA-39AFDBECF9DF">
        <File Id="CLI_File_15" Source="$(var.CLIPublishDir)libstdc++-6.dll" />
      </Component>
      <Component Id="CLI_libwinpthread_1_dll_16" Guid="714218AC-63CB-4FBF-9B58-3EF9C59A343B">
        <File Id="CLI_File_16" Source="$(var.CLIPublishDir)libwinpthread-1.dll" />
      </Component>
      <Component Id="CLI_Microsoft_Bcl_AsyncInterfaces_dll_17" Guid="B49930D9-D2EA-4A12-A46D-7C44E6F4A11A">
        <File Id="CLI_File_17" Source="$(var.CLIPublishDir)Microsoft.Bcl.AsyncInterfaces.dll" />
      </Component>
      <Component Id="CLI_Microsoft_Extensions_Configuration_Abstractions_dll_18" Guid="8B0A96AF-B6DF-4DAE-9C21-DC0ACF472593">
        <File Id="CLI_File_18" Source="$(var.CLIPublishDir)Microsoft.Extensions.Configuration.Abstractions.dll" />
      </Component>
      <Component Id="CLI_Microsoft_Extensions_Configuration_Binder_dll_19" Guid="916F4935-1EC3-46EE-A822-9FA83BC758F9">
        <File Id="CLI_File_19" Source="$(var.CLIPublishDir)Microsoft.Extensions.Configuration.Binder.dll" />
      </Component>
      <Component Id="CLI_Microsoft_Extensions_Configuration_dll_20" Guid="2C93FCEB-BCBE-4DBB-9AC9-276FDBDA305F">
        <File Id="CLI_File_20" Source="$(var.CLIPublishDir)Microsoft.Extensions.Configuration.dll" />
      </Component>
      <Component Id="CLI_Microsoft_Extensions_DependencyInjection_Abstractions_dll_21" Guid="E48A31EF-D941-4389-AB4A-0DF7FB4AA778">
        <File Id="CLI_File_21" Source="$(var.CLIPublishDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
      </Component>
      <Component Id="CLI_Microsoft_Extensions_DependencyInjection_dll_22" Guid="AA827A2A-5368-4C4B-866D-37D0EB4B1E97">
        <File Id="CLI_File_22" Source="$(var.CLIPublishDir)Microsoft.Extensions.DependencyInjection.dll" />
      </Component>
      <Component Id="CLI_Microsoft_Extensions_Logging_Abstractions_dll_23" Guid="6C81468C-4083-4412-A0AB-C77D7E4CCDE1">
        <File Id="CLI_File_23" Source="$(var.CLIPublishDir)Microsoft.Extensions.Logging.Abstractions.dll" />
      </Component>
      <Component Id="CLI_Microsoft_Extensions_Logging_Configuration_dll_24" Guid="819169B2-B035-4B69-9318-C0070832A3B1">
        <File Id="CLI_File_24" Source="$(var.CLIPublishDir)Microsoft.Extensions.Logging.Configuration.dll" />
      </Component>
      <Component Id="CLI_Microsoft_Extensions_Logging_Console_dll_25" Guid="4D64A435-6F8F-4221-AFF7-45E7BCA15202">
        <File Id="CLI_File_25" Source="$(var.CLIPublishDir)Microsoft.Extensions.Logging.Console.dll" />
      </Component>
      <Component Id="CLI_Microsoft_Extensions_Logging_dll_26" Guid="FC270C97-FADA-4347-B247-06A96DA69A07">
        <File Id="CLI_File_26" Source="$(var.CLIPublishDir)Microsoft.Extensions.Logging.dll" />
      </Component>
      <Component Id="CLI_Microsoft_Extensions_Options_ConfigurationExtensions_dll_27" Guid="EC3BE263-56C0-43B9-BF75-3406EF3317B0">
        <File Id="CLI_File_27" Source="$(var.CLIPublishDir)Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
      </Component>
      <Component Id="CLI_Microsoft_Extensions_Options_dll_28" Guid="27C31990-EED4-4ED4-85EE-03521B0F798F">
        <File Id="CLI_File_28" Source="$(var.CLIPublishDir)Microsoft.Extensions.Options.dll" />
      </Component>
      <Component Id="CLI_Microsoft_Extensions_Primitives_dll_29" Guid="C9E47F79-0EAF-4D67-9C5C-BE5438F612AA">
        <File Id="CLI_File_29" Source="$(var.CLIPublishDir)Microsoft.Extensions.Primitives.dll" />
      </Component>
      <Component Id="CLI_Microsoft_Identity_Client_dll_30" Guid="4785F9AC-170D-4E63-8D84-1C4B9534CDB8">
        <File Id="CLI_File_30" Source="$(var.CLIPublishDir)Microsoft.Identity.Client.dll" />
      </Component>
      <Component Id="CLI_Microsoft_Identity_Client_Extensions_Msal_dll_31" Guid="1E779C1F-3821-4D82-96A8-C1CED77719C6">
        <File Id="CLI_File_31" Source="$(var.CLIPublishDir)Microsoft.Identity.Client.Extensions.Msal.dll" />
      </Component>
      <Component Id="CLI_Microsoft_IdentityModel_Abstractions_dll_32" Guid="A33AAECF-BBE1-4CCC-803A-574E2F3FB70F">
        <File Id="CLI_File_32" Source="$(var.CLIPublishDir)Microsoft.IdentityModel.Abstractions.dll" />
      </Component>
      <Component Id="CLI_Microsoft_Win32_SystemEvents_dll_33" Guid="D4C19447-62F4-40AB-8EFF-8D401ABE14E0">
        <File Id="CLI_File_33" Source="$(var.CLIPublishDir)Microsoft.Win32.SystemEvents.dll" />
      </Component>
      <Component Id="CLI_qpdf_dll_34" Guid="98A2C073-59D9-44F3-AF69-B2230F27BCBD">
        <File Id="CLI_File_34" Source="$(var.CLIPublishDir)qpdf.dll" />
      </Component>
      <Component Id="CLI_QRCoder_dll_35" Guid="AD5E1AE1-868C-4B93-A4F6-535AB8C2A0B3">
        <File Id="CLI_File_35" Source="$(var.CLIPublishDir)QRCoder.dll" />
      </Component>
      <Component Id="CLI_QuestPDF_dll_36" Guid="39A1D752-909B-43D8-862E-28EB6758F71E">
        <File Id="CLI_File_36" Source="$(var.CLIPublishDir)QuestPDF.dll" />
      </Component>
      <Component Id="CLI_QuestPdfSkia_dll_37" Guid="A6CF809C-ACFB-44C3-864F-A6AC64AD8C46">
        <File Id="CLI_File_37" Source="$(var.CLIPublishDir)QuestPdfSkia.dll" />
      </Component>
      <Component Id="CLI_System_ClientModel_dll_38" Guid="DB0921A9-3269-436E-997F-7571EAD56DA4">
        <File Id="CLI_File_38" Source="$(var.CLIPublishDir)System.ClientModel.dll" />
      </Component>
      <Component Id="CLI_System_CommandLine_dll_39" Guid="8B3A3D88-839D-4791-87D4-8DE625D85963">
        <File Id="CLI_File_39" Source="$(var.CLIPublishDir)System.CommandLine.dll" />
      </Component>
      <Component Id="CLI_System_Drawing_Common_dll_40" Guid="072E859B-E268-4CAA-9A4B-3CAFC099A9A3">
        <File Id="CLI_File_40" Source="$(var.CLIPublishDir)System.Drawing.Common.dll" />
      </Component>
      <Component Id="CLI_System_Memory_Data_dll_41" Guid="E0E4A373-BA4B-48E3-B060-8B9D63BD0835">
        <File Id="CLI_File_41" Source="$(var.CLIPublishDir)System.Memory.Data.dll" />
      </Component>
      <Component Id="CLI_System_Security_Cryptography_ProtectedData_dll_42" Guid="80DB02E9-1FA0-4310-B0BE-5C4958C30594">
        <File Id="CLI_File_42" Source="$(var.CLIPublishDir)System.Security.Cryptography.ProtectedData.dll" />
      </Component>
      <Component Id="CLI_zlib1_dll_43" Guid="A1C7D460-E3CC-4EBA-B4D0-2C1F83FF26D5">
        <File Id="CLI_File_43" Source="$(var.CLIPublishDir)zlib1.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
